<!-- movie-search.component.html -->
<div *ngIf="movies.length > 0; else noResults">
  <ul>
    <li *ngFor="let movie of movies">
      <img [src]="searchService.getImagenPelicula(movie.poster_path)" [alt]="movie.title" style="width: 100px; height: auto;" (click)="verDetallesPelicula(movie.id)">
      {{ movie.title }} - {{ movie.release_date | date:'mediumDate' }}
    </li>
  </ul>
</div>
<ng-template #noResults>
  <p>No se encontraron películas que coincidan con la búsqueda.</p>
</ng-template>
