<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <input formControlName="username" placeholder="Nombre de usuario">
    <input formControlName="email" placeholder="Email">
    <input type="password" formControlName="password1" placeholder="Contraseña">
    <input type="password" formControlName="password2" placeholder="Confirmar Contraseña">
    <select formControlName="rol">
      <option value="">Selecciona un rol</option>
      <option value="USU">Usuario</option>
      <option value="USU_PREMIUM">Usuario Premium</option>
    </select>
    <button type="submit" [disabled]="registroForm.invalid">Registrar</button>
  </form>
  